

.header {
  text-align: center;
  height: 45px;
  padding: 10px;
  color: white;
  background-color: blue;

}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
